dataset.csv
.ipynb_checkpoints
__pycache__
questions.txt
.DS_Store
extracted_links.csv
dataset/plant_imgs
data_cleaning_classifier.ipynb
rhs_plant_database.csv
view_imgs.py
/runs
/mlruns
conda.yaml
sigmoid_model.py
.vscode/settings.json
dataset_preprocessing/all_plant_imgs
questions.txt
first_80_idx_plant_labels.csv
first_80_idx_plant_paths.csv
combined_plant_labels_and_path.csv